<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="/js/tipsCtrl.js""></script>
    <style>
      #result {
        float: left;
      }
      #info {
        float: left;
      }
      #rows {
        float: left;
      }

      .visible {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div ng-controller="tipsController">
      <ul id="result">
        <li ng-repeat="result in results track by $index">
          <span>{{$index + 1}}</span>
          <button ng-click="update_result($index, ETT)">1</button>
          <button ng-click="update_result($index, KRYSS)">X</button>
          <button ng-click="update_result($index, TVA)">2</button>
           {{num_to_letter(result)}}
        </li>
      </ul>

      <div id="info">
        <button ng-click="save()">Save</button>
        <button ng-click="load()">Load</button>
        <button ng-click="extract_rows()">Extract rows</button>
        <ul>
          <li ng-repeat="correct in correct_rows() track by $index">
            {{$index}} rätt: {{correct}} rader
          </li>
        </ul>
      </div>

      <ul id="rows">
        <li ng-repeat="row in rows track by $index">
          <span>{{$index + 1}}</span>
          <button ng-click="toggle_row($index, ETT)">1</button>
          <button ng-click="toggle_row($index, KRYSS)">X</button>
          <button ng-click="toggle_row($index, TVA)">2</button>
          <span ng-show="checked($index, ETT)">1</span>
          <span ng-show="checked($index, KRYSS)">X</span>
          <span ng-show="checked($index, TVA)">2</span>
        </li>
      </ul>
    </div>
  </body>
</html>
